body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #2426a5;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #2426a5;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ddfcfc;
}

.section-title {
    font-family: 'Kanit', sans-serif;
}

#sobre-a-loja, #Jogos {
    background-color: #ddfcfc;
}

.text-colored {
    color: #2426a5;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #2426a5;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #2426a5;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.precos {
    background-color: #2426a5;
    color: #fff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}